html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    color: #000;;
    text-align: center;
}

.hero {
    background-image: url('../images/the-flatiron-building.png');
    background-repeat: no-repeat;
    background-position: center;
}

.hero h1 {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}
.hero h2 {
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}

.btn-nav {
    font-size: 18px;
    color: #fff;
}

#process>h2 {
    font-size: 32px;
    font-weight: bold;
}

.supporting-item h3 {
    font-size: 23px;
    font-weight: bold;
}

.supporting-item p {
    font-size: 14px;
    font-weight: normal;
}

.footer {
    background-color: dimgray;
    text-align: left;
}

.footer>p {
    color: #fff;
    font-size: 11px;
}

